.booklet
{
    width: 100%;
    max-width: 148mm;
    margin-left: auto;
    margin-right: auto;
}

.booklet .page 
{
    width: 74mm; height: 105mm;  /* Each page in the booklet is A7 size */
    border: 1px dashed black;
}

@media only screen and (min-width: 148mm)
{ /* Booklet pages appear side by side, in couplets, when the screen is wide enough */
    .booklet .page 
    {
        display: inline-block;
    }
    .booklet .couplet
    {
        display: flex;
        align-items: center;
    }
}

.booklet .cover
{
    width: 100%;
    max-width: 148mm;
    height: 105mm;
    border: 1px dashed black;
    display: flex;
    align-items: center;
}

.booklet .cover img
{
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain; /* Preserve aspect ratio, on small displays */
}

.booklet .image.page
{
    display: flex;
    align-items: center;
}

.booklet .image.page img
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
