<form id="transaction-form" action="/scripts/transactions/record.php">
    <fieldset>
        <div>
            Date and time:
        </div>
        <input name="date" id="transaction-form-date" type="date" placeholder="date"></input>
        <input name="time" id="transaction-form-time" type="time" placeholder="time"></input>
        <input name="timezone" id="transaction-form-timezone" type="text" placeholder="timezone"></input>
    </fieldset>
    <fieldset>
        <div>
            Amount and currency:
        </div>
        <input name="amount" id="transaction-form-amount" type="number" placeholder="amount"></input>
        <input name="currency" id="transaction-form-currency" type="text" placeholder="currency"></input>
    </fieldset>
    <fieldset>
        <div>
            Sending and receiving accounts:
        </div>
        <input name="from" id="transaction-form-from" type="text" placeholder="from account"></input>
        <input name="to" id="transaction-form-to" type="text" placeholder="to account"></input>
    </fieldset>
    <fieldset>
        <div>
            Transaction category, budget or expense type:
        </div>
        <select name="budget" id="transaction-form-budget">
            {% for budget in site.data.budgets %}
            <option value="{{budget.name}}">{{budget.name | capitalize}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <div>
            Story behind the transaction:
        </div>
        <input name="reason" id="transaction-form-reason" type="text" placeholder="reason"></input>
    </fieldset>
</form>
<script>
var date = document.getElementById("transaction-form-date");
var time = document.getElementById("transaction-form-time");
var timezone = document.getElementById("transaction-form-timezone");
var amount = document.getElementById("transaction-form-amount");
var currency = document.getElementById("transaction-form-currency");
var from = document.getElementById("transaction-form-from");
var to = document.getElementById("transaction-form-to");
var category = document.getElementById("transaction-form-category");
var reason = document.getElementById("transaction-form-reason");

var now = new Date();

function pad(num) {
    var s = "0" + num;
    return s.substr(s.length-2);
}

function getTime(now) {
    var hours = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    return pad(hours) + ":" + pad(minutes) + ":" + pad(seconds);
}

function getTimezone(now) {
    var offset = now.getTimezoneOffset() / -60;
    if (offset >= 0) {
        var optionalPlus = "+";
    } else {
        var optionalPlus = "";
    }
    return "UTC" + optionalPlus + offset.toString();
}

date.value = now.toISOString().slice(0,10);
time.value = getTime(now);
timezone.value = getTimezone(now);
</script>
